@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.ar-button {
  display: none;
  width: 40px;
  height: 30px;
  float: right;
  right: 5px;
  border-radius: 15%;
  border-color: brown;
}
